:root {
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
}
.single-product .entry-header {
    display: none;
}
.custom-product-wrapper .custom-product-title{
    font-family: var(--font-primary);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: #343434;
    margin-bottom: 16px;
}
.custom-product-wrapper .contact-price{
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #004A06;
    margin-bottom: 28px;

}
.custom-product-wrapper .product-excerpt p{
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #353535;
    margin-bottom: 28px;
}
.custom-product-wrapper form.cart{
    margin-bottom: 16px !important;
}
.custom-product-wrapper .custom-contact-btn a{
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #121212;
    width: 100%;
    padding: 15px;
    border: 1.5px solid #121212;
    display: block;
    text-transform: uppercase;
    border-radius: 24px;
}
.custom-product-wrapper .single_add_to_cart_button{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 16px !important;
    background-color: #004A06 !important;
    text-align: center;
    border-radius: 24px !important;
    text-transform: uppercase;
    padding: 12px !important;
}
.custom-product-wrapper  .product-sku{
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #353535;
    margin-bottom: 16px;
}
.custom-product-wrapper  .product-sku span{
    font-weight: 600;
    line-height: 24px;
}
.custom-product-wrapper  .custom-quantity-wrapper{
    display: flex;
    align-items: center;
}
.custom-product-wrapper .quantity .custom-quantity-input{
    text-align: center;
    border: none;
    width: 52px;
    color: #343434;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

}
.custom-product-wrapper .custom-product-price {
    margin-bottom: 28px;
}
.custom-product-wrapper .custom-product-price span{
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #004A06;
}
.custom-quantity-wrapper .quantity-minus, .custom-quantity-wrapper .quantity-plus{
    border: 2px solid #353535;
    border-radius: 100%;
    background: #FFF;
}
.custom-product-wrapper  .custom-quantity-wrapper{
    margin-bottom: 28px;
}
.single-product .tabs li{
    width: 33.33%;
}
.single-product .tabs li a{
    width: 100%;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 24px;
    text-align: center;
    padding: 12px !important;
}
.single-product .tabs li.active a{
    color: #004A06 !important;
}
.single-product .woocommerce-Tabs-panel{
    background: #F4F4F4;
    padding: 48px !important;
}
.single-product .woocommerce-Tabs-panel h1, .single-product .woocommerce-Tabs-panel h2{
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #121212;
    margin-bottom: 16px;
}
.single-product .woocommerce-Tabs-panel p{
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #636363;
}
.single-product .tabs{
    margin-bottom: 0 !important;
}
.custom-product-wrapper .custom-quantity-wrapper label{
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #353535;
    margin: 0;
    margin-right: 16px;
}
.custom-quantity-wrapper .quantity{
    pointer-events: none;
    margin: 0 !important;
    text-align: center;
}
.custom-quantity-wrapper .quantity-minus.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.single-product ul.tabs li{
    background-color: #FFF !important;
}
.single-product ul.tabs li.active{
    background: #F4F4F4 !important;   
}
.single-product .related h2{
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #353535;
    margin: 0;
}